<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.AdminStatisticMapper">
	<select id="list" resultType="com.jhta.allchwi.vo.admin.Statistic1VO">
	SELECT MONTH(regdate) AS month, sum(pay) monthlySum 
	FROM sales 
	<![CDATA[ WHERE regdate >= '2020-01-01' AND regdate <  '2021-01-01' ]]>
	GROUP BY month
	</select>
	
	
</mapper>









