<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.AdminPicsChangeMapper">
	
	<insert id="picsInsert" parameterType="com.jhta.allchwi.vo.admin.MainPicsVO">
		insert into main_pics values(0,#{org_filename},#{save_filename},#{filesize},0)
		<selectKey keyProperty="picNum" resultType="int">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<select id="pics_list" resultType="com.jhta.allchwi.vo.admin.PicsListVO">
		select * from main_pics order by picNum desc
	</select>
	
	<select id="count" resultType="int">
		select NVL(count(*),0) cnt from (select * from main_pics) aa
	</select>
	
	
	<select id="banner_list" resultType="string">
		select save_filename from main_pics where pic_onoff=1
	</select>
	
	
	
	<update id="reset">
		update main_pics set pic_onoff=0
	</update>
	
	<update id="confirmPics" parameterType="hashmap">
		update main_pics set pic_onoff=1 where save_filename=#{firstPic} or save_filename=#{secondPic} or save_filename=#{thirdPic}	
	</update>



</mapper>

