<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.AdminStatisticMapper">
	<select id="list" resultType="com.jhta.allchwi.vo.admin.Statistic1VO" parameterType="hashmap">
	SELECT MONTH(regdate) AS month, sum(pay) monthlySum, sum(revenue) monthlyRevenue
	FROM sales 
    <![CDATA[	WHERE year(regdate) >= #{thisyear} AND year(regdate) < #{nextyear} ]]>
	GROUP BY month
	</select>

	
	
</mapper>









