<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ClassDateMapper">
	
	<insert id="insert" parameterType="classDate">
		insert into class_date values(0,#{class_num},#{class_date},#{class_startTime},#{class_endTime},
			#{class_comment},#{class_msg},#{class_month},#{time_ref},#{time_cnt},now())
	</insert>

	<select id="list" parameterType="int" resultType="classDate">
		select date_num, cd.class_num, class_title, class_price, class_hour, class_count,
		class_date, class_startTime, class_endTime, class_comment, class_msg, date_regdate
		from class_date cd, class_info ci
		where cd.class_num=ci.class_num and cd.class_num=#{class_num}
	</select>
</mapper>

