<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ClassInfoMapper">
	<insert id="insert" parameterType="classInfo">
		insert into class_info values(null,#{ml_num},#{scategory_num},#{sloc_num},#{pro_num},
		#{tutor_nickname},#{tutor_phone},#{class_address},#{class_form},#{class_max},#{class_min},
		#{class_title},#{class_price},#{class_hour},#{class_count},#{tutor_about},#{class_about},#{class_target},now(),#{class_auth},#{class_status})
		<selectKey keyProperty="class_num" resultType="int">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	
	<!-- '작은 지역' 검색 sql -->
	<sql id="sloc">
		<if test="sloc_num>0 ">
			and sloc_num=#{sloc_num}
		</if>	
	</sql>
	
	<!-- '키워드' 검색 sql -->
	<sql id="keyword">
		<if test="keyword!=null and keyword!=''">
			and class_title like '%${keyword}%'
		</if>
	</sql>
	
	<!-- '날짜' 검색 sql -->
	<sql id="date">
		<if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
			and class_date between date('${startDate}') and date('${endDate}')+1
		</if>
	</sql>
	
	<!-- '작은 카테고리' 검색 sql -->
	<sql id="smallcategory">
		<if test="scategory_num>0 ">
			and scategory_num=#{scategory_num}
		</if>
	</sql>
	
	<!-- '큰 카테고리' 검색 sql -->
	<sql id="bigcategory">
		<if test="bcategory_num>0">
			and b.bcategory_num=#{bcategory_num}
		</if>
	</sql>
	
	<!-- 검색 조건에 맞는 전체 글 정보 가져오는 sql -->
	<select id="list" parameterType="hashmap" resultType="classinfo">
		select c.class_num, class_title, tutor_nickname, bcategory_num, bcategory_name,scategory_name, sloc_num, 
		date_num, class_date
		from 
				(
					select s.bcategory_num, bcategory_name, scategory_num, scategory_name 
					from small_category s, big_category b
					where s.bcategory_num=b.bcategory_num 				
					<include refid="smallcategory"/>								
					<include refid="bigcategory"/>	
				)a, class_info c , class_date cd
		where a.scategory_num=c.scategory_num and cd.class_num=c.class_num	
		and class_auth=2 and class_status=0
		<include refid="keyword"/>		
		<include refid="sloc"/>		
		<include refid="date"/>
		order by class_num desc
		limit #{startRow},6
	</select>
	
	<!-- totalRowCount : 검색 조건에 맞는 총 글 갯수 구하는 sql -->
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) from
		   (
			   	select c.class_num, class_title, tutor_nickname, bcategory_num, bcategory_name,scategory_name, sloc_num, 
				date_num, class_date
				from 
						(
							select s.bcategory_num, bcategory_name, scategory_num, scategory_name 
							from small_category s, big_category b
							where s.bcategory_num=b.bcategory_num 				
							<include refid="smallcategory"/>								
							<include refid="bigcategory"/>	
						)a, class_info c , class_date cd
				where a.scategory_num=c.scategory_num and cd.class_num=c.class_num	
				and class_auth=2 and class_status=0
				<include refid="keyword"/>		
				<include refid="sloc"/>		
				<include refid="date"/>
				order by class_num desc			   
		   )z		   			
	</select>

	
	<select id="getInfo" parameterType="int" resultType="classinfo">
		select * from class_info where class_num=#{class_num}
	</select> 

</mapper>

