<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ClassInfoMapper">
	<insert id="insert" parameterType="classInfo">
		insert into class_info values(null,#{ml_num},#{scategory_num},#{sloc_num},#{pro_num},
		#{tutor_nickname},#{tutor_phone},#{class_address},#{class_form},#{class_max},#{class_min},
		#{class_title},#{class_price},#{class_hour},#{class_count},#{tutor_about},#{class_about},#{class_target},now(),#{class_auth})
		<selectKey keyProperty="class_num" resultType="int">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<select id="list" parameterType="int" resultType="classinfo">
		select class_num, class_title, tutor_nickname, bcategory_num, bcategory_name 
		from (select s.bcategory_num, bcategory_name, scategory_num, scategory_name 
				from small_category s, big_category b
				where s.bcategory_num=b.bcategory_num and s.bcategory_num=#{bcategory_num})a, class_info c
		where a.scategory_num=c.scategory_num
	</select>
</mapper>

