<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ClassApplyMapper">
	<insert id="insert" parameterType="classapply">
		insert into class_apply values(0,#{date_num},#{ml_num},#{stu_lev},#{stu_msg},#{stu_phone},0,now())
		<selectKey keyProperty="apply_num" resultType="int">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	<select id="list" parameterType="int" resultType="adi">
		select c.*, apply_auth from (
			select cd.class_num, date_num, class_date, class_title, tutor_nickname, pro_num from class_date cd, class_info ci
		    where cd.class_num=ci.class_num
		) c, class_apply a
		where c.date_num=a.date_num and ml_num=#{ml_num}
	</select>
</mapper>

