<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.ReceiptMapper">
	
	<select id="receipt_list" resultType="com.jhta.allchwi.vo.receiveTuition.ReceiptVO">
		select ci.class_title, ci.class_num, ci.class_form, p.pay_regdate, p.final_price/2 final_price, p.class_finish, ml.id, mi.mb_nickname,img.pro_num
		from class_info ci, payment p, profile_img pi, member_login ml, member_info mi, profile_img img
		where ci.class_num = p.class_num and ml.ml_num=p.ml_num and ml.ml_num = mi.ml_num and mi.pro_num=img.pro_num and class_finish=0
		<!-- 테스트를 위해 class_finish를 0으로 해둠 (1로 바꾸셈) -->
		
	</select>
	
	
	
	
</mapper>