<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.jhta.allchwi.vo.admin.BigCategoryVO" alias="big_category"/>
		<typeAlias type="com.jhta.allchwi.vo.admin.SmallCategoryVO" alias="small_category"/>
		
		
		<!-- Login 관련 Mapper vo alias -->
		<typeAlias type="com.jhta.allchwi.vo.login.MemberLoginVO" alias="mlv"/>		
		<typeAlias type="com.jhta.allchwi.vo.login.MemberInfoVO" alias="miv"/>		
		<typeAlias type="com.jhta.allchwi.vo.login.PointVO" alias="pv"/>		
		<!-- 이미지 파일 관련 Mapper vo alias -->
		<typeAlias type="com.jhta.allchwi.vo.profileImg.ProfileImgVO" alias="piv"/>		
	</typeAliases>

	<mappers>
		<!-- admin관련 Mapper -->
		<mapper resource="com/jhta/mybatis/mapper/CategoryMapper.xml"/>
		<mapper resource="com/jhta/mybatis/mapper/AdminManageClassMapper.xml"/>
		
		
		<!-- Login관련 Mapper 경로 -->
		<mapper resource="com/jhta/mybatis/mapper/MemberLoginMapper.xml"/>
		<mapper resource="com/jhta/mybatis/mapper/MemberInfoMapper.xml"/>
		<mapper resource="com/jhta/mybatis/mapper/PointMapper.xml"/>
		<mapper resource="com/jhta/mybatis/mapper/ProfileImgMapper.xml"/>
	</mappers>
</configuration>










