<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.jhta.allchwi.vo.admin.big_categoryVo" alias="big_category" />
		<typeAlias type="com.jhta.allchwi.vo.admin.small_categoryVo" alias="small_category" />
	</typeAliases>

	<mappers>
		<mapper resource="com/jhta/mybatis/mapper/AdminCategoryMapper.xml" />

	</mappers>
</configuration>










